release/contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>de-landingpage</title>
  </head>
  <body>
        <header class="header header_inner">
          <div class="header__content"><a class="logo" href="#"><svg width="48" height="32" viewBox="0 0 48 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle class="logo-svg__circle-first" cx="16" cy="16" r="15.5" fill="#316099" stroke="#316099"/>
<circle cx="32" cy="16" r="15" fill="white" stroke="#316099" stroke-width="2"/>
<path d="M39.3 22L34.38 8H30.96L26.06 22H29.04L29.88 19.48H35.46L36.3 22H39.3ZM32.68 11.18L34.6 16.9H30.76L32.68 11.18Z" fill="#316099"/>
<path d="M39.3 22V23H40.7114L40.2434 21.6684L39.3 22ZM34.38 8L35.3234 7.66845L35.0885 7H34.38V8ZM30.96 8V7H30.2505L30.0161 7.66965L30.96 8ZM26.06 22L25.1161 21.6696L24.6505 23H26.06V22ZM29.04 22V23H29.7608L29.9887 22.3162L29.04 22ZM29.88 19.48V18.48H29.1592L28.9313 19.1638L29.88 19.48ZM35.46 19.48L36.4087 19.1638L36.1808 18.48H35.46V19.48ZM36.3 22L35.3513 22.3162L35.5792 23H36.3V22ZM32.68 11.18L33.628 10.8618L32.68 8.03748L31.732 10.8618L32.68 11.18ZM34.6 16.9V17.9H35.9905L35.548 16.5818L34.6 16.9ZM30.76 16.9L29.812 16.5818L29.3695 17.9H30.76V16.9ZM40.2434 21.6684L35.3234 7.66845L33.4366 8.33155L38.3566 22.3316L40.2434 21.6684ZM34.38 7H30.96V9H34.38V7ZM30.0161 7.66965L25.1161 21.6696L27.0039 22.3304L31.9039 8.33035L30.0161 7.66965ZM26.06 23H29.04V21H26.06V23ZM29.9887 22.3162L30.8287 19.7962L28.9313 19.1638L28.0913 21.6838L29.9887 22.3162ZM29.88 20.48H35.46V18.48H29.88V20.48ZM34.5113 19.7962L35.3513 22.3162L37.2487 21.6838L36.4087 19.1638L34.5113 19.7962ZM36.3 23H39.3V21H36.3V23ZM31.732 11.4982L33.652 17.2182L35.548 16.5818L33.628 10.8618L31.732 11.4982ZM34.6 15.9H30.76V17.9H34.6V15.9ZM31.708 17.2182L33.628 11.4982L31.732 10.8618L29.812 16.5818L31.708 17.2182Z" fill="#316099"/>
</svg></a>
            <div class="burger" id="burger-btn"><img src="images/burger.svg" alt="img"></div>
          </div>
          <div class="menu" id="site-menu">
            <div class="menu__content">
              <div class="menu__close"><span>Закрыть</span></div>
              <nav class="menu__list"><a class="menu__link" href="#">About</a><a class="menu__link" href="#">What We Do</a><a class="menu__link" href="#">Project</a><a class="menu__link" href="#">How It Work With Us</a>
              </nav>
            </div>
          </div>
        </header>
    <div class="content">
      <section class="contacts">
        <div class="contacts__welcome">
          <div class="container">
            <div class="row">
              <div class="col col-lg-10">
                <h1 class="title-1 title-1_white contacts__title">Contact Us</h1>
                <p class="text text_white text_size-20 contacts__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="contacts__info">
          <div class="container">
            <div class="row">
              <div class="col col-lg-5">
                <div class="contacts__img">
                        <picture><img src="images/contacts-1.svg" alt="img" title="img">
                        </picture>
                </div>
                <div class="contacts__block"><span class="title-min title-1_blue-1">ADDRESS</span>
                  <p class="text text_blue">Id convallis placerat sit sed duis id amet volutpat quam a, pharetra.</p>
                </div>
                <div class="contacts__block"><span class="title-min title-1_blue-1">PHONE</span><a class="text contacts__link" href="tel:+6281273134321">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.62 7.79C5.06 10.62 7.38 12.93 10.21 14.38L12.41 12.18C12.68 11.91 13.08 11.82 13.43 11.94C14.55 12.31 15.76 12.51 17 12.51C17.55 12.51 18 12.96 18 13.51V17C18 17.55 17.55 18 17 18C7.61 18 0 10.39 0 1C0 0.45 0.45 0 1 0H4.5C5.05 0 5.5 0.45 5.5 1C5.5 2.25 5.7 3.45 6.07 4.57C6.18 4.92 6.1 5.31 5.82 5.59L3.62 7.79Z" fill="#1F3F68"/>
</svg>+62-812-7313-4321</a><a class="text contacts__link" href="tel:+6281273134321">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.62 7.79C5.06 10.62 7.38 12.93 10.21 14.38L12.41 12.18C12.68 11.91 13.08 11.82 13.43 11.94C14.55 12.31 15.76 12.51 17 12.51C17.55 12.51 18 12.96 18 13.51V17C18 17.55 17.55 18 17 18C7.61 18 0 10.39 0 1C0 0.45 0.45 0 1 0H4.5C5.05 0 5.5 0.45 5.5 1C5.5 2.25 5.7 3.45 6.07 4.57C6.18 4.92 6.1 5.31 5.82 5.59L3.62 7.79Z" fill="#1F3F68"/>
</svg>+62-812-7313-4321</a></div>
                <div class="contacts__block "><span class="title-min title-1_blue-1">ONLINE SERVICE</span><a class="text contacts__link" href="tel:+6281273134321">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.99 0C4.47 0 0 4.48 0 10C0 15.52 4.47 20 9.99 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 9.99 0ZM16.92 6H13.97C13.65 4.75 13.19 3.55 12.59 2.44C14.43 3.07 15.96 4.35 16.92 6ZM10 2.04C10.83 3.24 11.48 4.57 11.91 6H8.09C8.52 4.57 9.17 3.24 10 2.04ZM2.26 12C2.1 11.36 2 10.69 2 10C2 9.31 2.1 8.64 2.26 8H5.64C5.56 8.66 5.5 9.32 5.5 10C5.5 10.68 5.56 11.34 5.64 12H2.26ZM3.08 14H6.03C6.35 15.25 6.81 16.45 7.41 17.56C5.57 16.93 4.04 15.66 3.08 14ZM6.03 6H3.08C4.04 4.34 5.57 3.07 7.41 2.44C6.81 3.55 6.35 4.75 6.03 6ZM10 17.96C9.17 16.76 8.52 15.43 8.09 14H11.91C11.48 15.43 10.83 16.76 10 17.96ZM12.34 12H7.66C7.57 11.34 7.5 10.68 7.5 10C7.5 9.32 7.57 8.65 7.66 8H12.34C12.43 8.65 12.5 9.32 12.5 10C12.5 10.68 12.43 11.34 12.34 12ZM12.59 17.56C13.19 16.45 13.65 15.25 13.97 14H16.92C15.96 15.65 14.43 16.93 12.59 17.56ZM14.36 12C14.44 11.34 14.5 10.68 14.5 10C14.5 9.32 14.44 8.66 14.36 8H17.74C17.9 8.64 18 9.31 18 10C18 10.69 17.9 11.36 17.74 12H14.36Z" fill="#1F3F68"/>
</svg>www.afrianska.com</a><a class="text contacts__link" href="tel:+6281273134321">
                    <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18 0H2C0.9 0 0.00999999 0.9 0.00999999 2L0 14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2C20 0.9 19.1 0 18 0ZM18 4L10 9L2 4V2L10 7L18 2V4Z" fill="#1F3F68"/>
</svg>hello.afrian@gmail.com</a></div>
              </div>
              <div class="col col-lg-7">
                <form class="form" action="#" method="GET"><span class="form__title title-min title-1_blue-1">SEND US MESSAGE</span>
                  <div class="form__block"><span class="form__subtitle">Full Name</span>
                    <input class="form__input" type="text" placeholder="Your Name">
                  </div>
                  <div class="form__block"><span class="form__subtitle">Email</span>
                    <input class="form__input" type="email" placeholder="Your Email">
                  </div>
                  <div class="form__block"><span class="form__subtitle">Message</span>
                    <textarea class="form__input form__input_area" placeholder="Your Message"></textarea>
                  </div>
                  <div class="form__block form__block_last">
                    <button class="btn btn_width-max" type="submit">SUBMIT</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="block-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6446.355662251436!2d61.395062498522684!3d55.163485914221226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c592b57aa7b665%3A0xc4bb7184f4163f2a!2z0JTQstC-0YDQtdGGINC_0LjQvtC90LXRgNC-0LIg0Lgg0YjQutC-0LvRjNC90LjQutC-0LIg0LjQvC4g0J0uINCaLiDQmtGA0YPQv9GB0LrQvtC5!5e0!3m2!1sru!2sru!4v1599538284528!5m2!1sru!2sru" width="100%" height="480" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="footer__content">
          <div class="footer-line-top">
            <div class="container">
              <div class="row">
                <div class="col col-lg-6">
                  <h2 class="title-2 title-2_white footer-line-top__title footer-line-top__title_center-mobile">Intersted to woek<br>with our team?</h2>
                  <p class="text text_white footer-line-top__description footer-line-top__description_center-mobile">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
                <div class="col col-lg-3 offset-lg-2"><a class="btn btn_center-mobile" href="#">Let’s Talk</a></div>
              </div>
            </div>
          </div>
          <div class="footer__line"></div>
          <div class="footer-line-bottom">
            <div class="container">
              <div class="row">
                <div class="col col-lg-4">
                  <div class="footer__logo-block"><a class="logo logo_white logo_flex" href="#"><svg class="logo-svg" width="48" height="32" viewBox="0 0 48 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle class="logo-svg__circle-first" cx="16" cy="16" r="15.5" fill="#316099" stroke="#316099"/>
<circle  cx="32" cy="16" r="15" fill="white" stroke="#316099" stroke-width="2"/>
<path d="M39.3 22L34.38 8H30.96L26.06 22H29.04L29.88 19.48H35.46L36.3 22H39.3ZM32.68 11.18L34.6 16.9H30.76L32.68 11.18Z" fill="#316099"/>
<path d="M39.3 22V23H40.7114L40.2434 21.6684L39.3 22ZM34.38 8L35.3234 7.66845L35.0885 7H34.38V8ZM30.96 8V7H30.2505L30.0161 7.66965L30.96 8ZM26.06 22L25.1161 21.6696L24.6505 23H26.06V22ZM29.04 22V23H29.7608L29.9887 22.3162L29.04 22ZM29.88 19.48V18.48H29.1592L28.9313 19.1638L29.88 19.48ZM35.46 19.48L36.4087 19.1638L36.1808 18.48H35.46V19.48ZM36.3 22L35.3513 22.3162L35.5792 23H36.3V22ZM32.68 11.18L33.628 10.8618L32.68 8.03748L31.732 10.8618L32.68 11.18ZM34.6 16.9V17.9H35.9905L35.548 16.5818L34.6 16.9ZM30.76 16.9L29.812 16.5818L29.3695 17.9H30.76V16.9ZM40.2434 21.6684L35.3234 7.66845L33.4366 8.33155L38.3566 22.3316L40.2434 21.6684ZM34.38 7H30.96V9H34.38V7ZM30.0161 7.66965L25.1161 21.6696L27.0039 22.3304L31.9039 8.33035L30.0161 7.66965ZM26.06 23H29.04V21H26.06V23ZM29.9887 22.3162L30.8287 19.7962L28.9313 19.1638L28.0913 21.6838L29.9887 22.3162ZM29.88 20.48H35.46V18.48H29.88V20.48ZM34.5113 19.7962L35.3513 22.3162L37.2487 21.6838L36.4087 19.1638L34.5113 19.7962ZM36.3 23H39.3V21H36.3V23ZM31.732 11.4982L33.652 17.2182L35.548 16.5818L33.628 10.8618L31.732 11.4982ZM34.6 15.9H30.76V17.9H34.6V15.9ZM31.708 17.2182L33.628 11.4982L31.732 10.8618L29.812 16.5818L31.708 17.2182Z" fill="#316099"/>
</svg><span class="logo__title">Afrianska</span></a></div>
                  <div class="footer__info"><span>А.</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></div>
                  <div class="footer__info"><span>Т.</span><a class="footer__link" href="tel:+6281273134321">+62-812-7313-4321</a></div>
                  <div class="footer__info"><span>Е.</span><a class="footer__link" href="mailto:hello.afrian@gmail.com">hello.afrian@gmail.com</a></div>
                </div>
                <div class="col col-lg-3 offset-lg-1"><span class="title-min title-min_white">About US</span>
                  <div class="d-flex flex-column align-items-start"><a class="footer__link footer__nav-item" href="#">About</a><a class="footer__link footer__nav-item" href="#">What We Do</a><a class="footer__link footer__nav-item" href="#">Project</a><a class="footer__link footer__nav-item" href="#">How It Work With Us</a>
                  </div>
                </div>
                <div class="col col-lg-3"><span class="title-min title-min_white">Follow US</span>
                  <div class="d-flex flex-column align-items-start"><a class="footer__link footer__nav-item" href="#">Instagram</a><a class="footer__link footer__nav-item" href="#">Facebook</a><a class="footer__link footer__nav-item" href="#">LinkedIn</a><a class="footer__link footer__nav-item" href="#">Youtube</a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col"><span class="copyright">2019 © Afrianska. All rights reserved.</span></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center">
        <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
          <g transform="translate(-1035.793 -4349.188)">
            <g transform="translate(1053.891 4252.049) rotate(90)">
              <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/contacts.pug
extends innerBase.pug
block content
	include components/mixin/img.pug
	section(class="contacts")
		div(class="contacts__welcome")
			div(class="container")
				div(class="row")
					div(class="col col-lg-10")
						h1(class="title-1 title-1_white contacts__title")
							| Contact Us
						p(class="text text_white text_size-20 contacts__description")
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		div(class="contacts__info")
			div(class="container")
				div(class="row")
					div(class="col col-lg-5")
							div(class="contacts__img")
								+img("images/contacts-1", ["svg"])
							div(class="contacts__block")
								span(class="title-min title-1_blue-1")
									| ADDRESS
								p(class="text text_blue")
									| Id convallis placerat sit sed duis id amet volutpat quam a, pharetra.
							div(class="contacts__block")
								span(class="title-min title-1_blue-1")
									| PHONE
								a(class="text contacts__link" href="tel:+6281273134321")
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M3.62 7.79C5.06 10.62 7.38 12.93 10.21 14.38L12.41 12.18C12.68 11.91 13.08 11.82 13.43 11.94C14.55 12.31 15.76 12.51 17 12.51C17.55 12.51 18 12.96 18 13.51V17C18 17.55 17.55 18 17 18C7.61 18 0 10.39 0 1C0 0.45 0.45 0 1 0H4.5C5.05 0 5.5 0.45 5.5 1C5.5 2.25 5.7 3.45 6.07 4.57C6.18 4.92 6.1 5.31 5.82 5.59L3.62 7.79Z" fill="#1F3F68"/>
									</svg>
									| +62-812-7313-4321
								a(class="text contacts__link" href="tel:+6281273134321")
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M3.62 7.79C5.06 10.62 7.38 12.93 10.21 14.38L12.41 12.18C12.68 11.91 13.08 11.82 13.43 11.94C14.55 12.31 15.76 12.51 17 12.51C17.55 12.51 18 12.96 18 13.51V17C18 17.55 17.55 18 17 18C7.61 18 0 10.39 0 1C0 0.45 0.45 0 1 0H4.5C5.05 0 5.5 0.45 5.5 1C5.5 2.25 5.7 3.45 6.07 4.57C6.18 4.92 6.1 5.31 5.82 5.59L3.62 7.79Z" fill="#1F3F68"/>
									</svg>
									| +62-812-7313-4321
							div(class="contacts__block ")
								span(class="title-min title-1_blue-1")
									| ONLINE SERVICE
								a(class="text contacts__link" href="tel:+6281273134321")
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.99 0C4.47 0 0 4.48 0 10C0 15.52 4.47 20 9.99 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 9.99 0ZM16.92 6H13.97C13.65 4.75 13.19 3.55 12.59 2.44C14.43 3.07 15.96 4.35 16.92 6ZM10 2.04C10.83 3.24 11.48 4.57 11.91 6H8.09C8.52 4.57 9.17 3.24 10 2.04ZM2.26 12C2.1 11.36 2 10.69 2 10C2 9.31 2.1 8.64 2.26 8H5.64C5.56 8.66 5.5 9.32 5.5 10C5.5 10.68 5.56 11.34 5.64 12H2.26ZM3.08 14H6.03C6.35 15.25 6.81 16.45 7.41 17.56C5.57 16.93 4.04 15.66 3.08 14ZM6.03 6H3.08C4.04 4.34 5.57 3.07 7.41 2.44C6.81 3.55 6.35 4.75 6.03 6ZM10 17.96C9.17 16.76 8.52 15.43 8.09 14H11.91C11.48 15.43 10.83 16.76 10 17.96ZM12.34 12H7.66C7.57 11.34 7.5 10.68 7.5 10C7.5 9.32 7.57 8.65 7.66 8H12.34C12.43 8.65 12.5 9.32 12.5 10C12.5 10.68 12.43 11.34 12.34 12ZM12.59 17.56C13.19 16.45 13.65 15.25 13.97 14H16.92C15.96 15.65 14.43 16.93 12.59 17.56ZM14.36 12C14.44 11.34 14.5 10.68 14.5 10C14.5 9.32 14.44 8.66 14.36 8H17.74C17.9 8.64 18 9.31 18 10C18 10.69 17.9 11.36 17.74 12H14.36Z" fill="#1F3F68"/>
									</svg>
									| www.afrianska.com
								a(class="text contacts__link" href="tel:+6281273134321")
									<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M18 0H2C0.9 0 0.00999999 0.9 0.00999999 2L0 14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2C20 0.9 19.1 0 18 0ZM18 4L10 9L2 4V2L10 7L18 2V4Z" fill="#1F3F68"/>
									</svg>
									| hello.afrian@gmail.com
					div(class="col col-lg-7")
						form(class="form" action="#" method="GET")
							span(class="form__title title-min title-1_blue-1")
								| SEND US MESSAGE
							div(class="form__block")
								span(class="form__subtitle")
									| Full Name
								input(class="form__input" type="text" placeholder="Your Name")
							div(class="form__block")
								span(class="form__subtitle")
									| Email
								input(class="form__input" type="email" placeholder="Your Email")
							div(class="form__block")
								span(class="form__subtitle")
									| Message
								textarea(class="form__input form__input_area"  placeholder="Your Message")
							div(class="form__block form__block_last")
								button(type="submit" class="btn btn_width-max")
									| SUBMIT
		div(class="container")
			div(class="row")
				div(class="col")
					div(class="block-map")
						iframe( src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6446.355662251436!2d61.395062498522684!3d55.163485914221226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c592b57aa7b665%3A0xc4bb7184f4163f2a!2z0JTQstC-0YDQtdGGINC_0LjQvtC90LXRgNC-0LIg0Lgg0YjQutC-0LvRjNC90LjQutC-0LIg0LjQvC4g0J0uINCaLiDQmtGA0YPQv9GB0LrQvtC5!5e0!3m2!1sru!2sru!4v1599538284528!5m2!1sru!2sru" width="100%" height="480" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
	include components/footer-area.pug
