source/html/index.pug
extends base.pug
block content
	include components/mixin/img.pug
	section(class="welcome")
		div(class="container")
			div(class="row")
				div(class="col col-lg-7")
					div(class="welcome__content")
						h1(class="welcome__title welcome__title_center-mobile pb-5")
							| New Automation<br>Tool for Your Home
						p(class="text text_blue welcome__description welcome__description_center-mobile")
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus tristique vulputate ultrices ut mauris tellus at. Posuere sollicitudin odio tellus elit.

						a(class="btn btn_center-mobile" href="#")
							| See Our Project
		+img("images/welcome-bg", ["svg"], "welcome__img d-none d-lg-block")
	section(class="service")
		div(class="container")
			div(class="row")
				div(class="col col-lg-6 pb-5 pb-lg-0")
					h2(class="title-2 title-2_blue p-b-150 service__title service__title_center-mobile")
						| What we do to help our client grow in digital era,
					div(class="row")
						div(class="col col-lg-10 offset-lg-2")
							div(class="service__container-animation")
								div(class="service__item")
									div(class="service__preview")
										+img("images/s2", ["png"])
									div(class="service__content")
										a(class="service__subtitle" href="#")
											| Make Your business To Be Better Famous In Internet
										p(class="text text_blue service__description")
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
										a(class="service__link" href="#")
											span
												| Learn more
											<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M8 0L6.59 1.41L12.17 7H0V9H12.17L6.59 14.59L8 16L16 8L8 0Z" fill="#5A98D0"/>
											</svg>
				div(class="col col-lg-5 offset-lg-1")
					div(class="pb-93-m-0")
						div(class="service__container-animation")
							div(class="service__item")
								div(class="service__preview service__preview_margin-top")
									+img("images/s1", ["png"])
								div(class="service__content")
									a(class="service__subtitle" href="#")
										| Bring Technology To Your Comfrotable Home
									p(class="text text_blue service__description")
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
									a(class="service__link" href="#")
										span
											| Learn more
										<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M8 0L6.59 1.41L12.17 7H0V9H12.17L6.59 14.59L8 16L16 8L8 0Z" fill="#5A98D0"/>
										</svg>
					div(class="service__container-animation")
						div(class="service__item")
							div(class="service__preview")
								+img("images/s3", ["png"])
							div(class="service__content")
								a(class="service__subtitle" href="#")
									| Build Your Digital Product That Suitable For Your Need
								p(class="text text_blue service__description")
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
								a(class="service__link" href="#")
									span
										| Learn more
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M8 0L6.59 1.41L12.17 7H0V9H12.17L6.59 14.59L8 16L16 8L8 0Z" fill="#5A98D0"/>
									</svg>
	section(class="clients")
		div(class="container")
			div(class="row")
				div(class="col col-lg-4")
					h2(class="title-2 title-2_white clients__title clients__title_center-mobile")
						| Our Beloved Client
				div(class="col col-lg-7 offset-lg-1")
					p(class="text text_white clients__description clients__description_center-mobile")
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				div(class="col")
					div(class="clients__list")
						div(class="row")
							div(class="col col_flex")
								- for (var i = 1; i < 5; i++)
									div(class="clients__wrapper")
										div(class="clients__block")
											a(class="clients__link" href="#")
												| LOGO CLIENT 
												= i
						div(class="clients__line")
						div(class="row")
							div(class="col col_flex")
								- for (var i = 5; i < 8; i++)
									div(class="clients__wrapper")
										div(class="clients__block")
											a(class="clients__link" href="#")
												| LOGO CLIENT 
												= i
								div(class="clients__wrapper clients__wrapper_bg")
									div(class="clients__block")
										a(class="clients__link " href="#")
											| More Client
		include components/footer-area.pug
		

release/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>de-landingpage</title>
  </head>
  <body>
        <header class="header">
          <div class="header__content"><a class="logo" href="#"><svg width="48" height="32" viewBox="0 0 48 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle class="logo-svg__circle-first" cx="16" cy="16" r="15.5" fill="#316099" stroke="#316099"/>
<circle cx="32" cy="16" r="15" fill="white" stroke="#316099" stroke-width="2"/>
<path d="M39.3 22L34.38 8H30.96L26.06 22H29.04L29.88 19.48H35.46L36.3 22H39.3ZM32.68 11.18L34.6 16.9H30.76L32.68 11.18Z" fill="#316099"/>
<path d="M39.3 22V23H40.7114L40.2434 21.6684L39.3 22ZM34.38 8L35.3234 7.66845L35.0885 7H34.38V8ZM30.96 8V7H30.2505L30.0161 7.66965L30.96 8ZM26.06 22L25.1161 21.6696L24.6505 23H26.06V22ZM29.04 22V23H29.7608L29.9887 22.3162L29.04 22ZM29.88 19.48V18.48H29.1592L28.9313 19.1638L29.88 19.48ZM35.46 19.48L36.4087 19.1638L36.1808 18.48H35.46V19.48ZM36.3 22L35.3513 22.3162L35.5792 23H36.3V22ZM32.68 11.18L33.628 10.8618L32.68 8.03748L31.732 10.8618L32.68 11.18ZM34.6 16.9V17.9H35.9905L35.548 16.5818L34.6 16.9ZM30.76 16.9L29.812 16.5818L29.3695 17.9H30.76V16.9ZM40.2434 21.6684L35.3234 7.66845L33.4366 8.33155L38.3566 22.3316L40.2434 21.6684ZM34.38 7H30.96V9H34.38V7ZM30.0161 7.66965L25.1161 21.6696L27.0039 22.3304L31.9039 8.33035L30.0161 7.66965ZM26.06 23H29.04V21H26.06V23ZM29.9887 22.3162L30.8287 19.7962L28.9313 19.1638L28.0913 21.6838L29.9887 22.3162ZM29.88 20.48H35.46V18.48H29.88V20.48ZM34.5113 19.7962L35.3513 22.3162L37.2487 21.6838L36.4087 19.1638L34.5113 19.7962ZM36.3 23H39.3V21H36.3V23ZM31.732 11.4982L33.652 17.2182L35.548 16.5818L33.628 10.8618L31.732 11.4982ZM34.6 15.9H30.76V17.9H34.6V15.9ZM31.708 17.2182L33.628 11.4982L31.732 10.8618L29.812 16.5818L31.708 17.2182Z" fill="#316099"/>
</svg></a>
            <div class="burger" id="burger-btn"><img src="images/burger.svg" alt="img"></div>
          </div>
          <div class="menu" id="site-menu">
            <div class="menu__content">
              <div class="menu__close"><span>Закрыть</span></div>
              <nav class="menu__list"><a class="menu__link" href="#">About</a><a class="menu__link" href="#">What We Do</a><a class="menu__link" href="#">Project</a><a class="menu__link" href="#">How It Work With Us</a>
              </nav>
            </div>
          </div>
        </header>
    <div class="content">
      <section class="welcome">
        <div class="container">
          <div class="row">
            <div class="col col-lg-7">
              <div class="welcome__content">
                <h1 class="welcome__title welcome__title_center-mobile pb-5">New Automation<br>Tool for Your Home</h1>
                <p class="text text_blue welcome__description welcome__description_center-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus tristique vulputate ultrices ut mauris tellus at. Posuere sollicitudin odio tellus elit.</p><a class="btn btn_center-mobile" href="#">See Our Project</a>
              </div>
            </div>
          </div>
        </div>
              <picture><img class="welcome__img d-none d-lg-block" src="images/welcome-bg.svg" alt="img" title="img">
              </picture>
      </section>
      <section class="service">
        <div class="container">
          <div class="row">
            <div class="col col-lg-6 pb-5 pb-lg-0">
              <h2 class="title-2 title-2_blue p-b-150 service__title service__title_center-mobile">What we do to help our client grow in digital era,</h2>
              <div class="row">
                <div class="col col-lg-10 offset-lg-2">
                  <div class="service__container-animation">
                    <div class="service__item">
                      <div class="service__preview">
                              <picture><img src="images/s2.png" alt="img" title="img">
                              </picture>
                      </div>
                      <div class="service__content"><a class="service__subtitle" href="#">Make Your business To Be Better Famous In Internet</a>
                        <p class="text text_blue service__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p><a class="service__link" href="#"><span>Learn more</span><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8 0L6.59 1.41L12.17 7H0V9H12.17L6.59 14.59L8 16L16 8L8 0Z" fill="#5A98D0"/>
</svg></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col-lg-5 offset-lg-1">
              <div class="pb-93-m-0">
                <div class="service__container-animation">
                  <div class="service__item">
                    <div class="service__preview service__preview_margin-top">
                            <picture><img src="images/s1.png" alt="img" title="img">
                            </picture>
                    </div>
                    <div class="service__content"><a class="service__subtitle" href="#">Bring Technology To Your Comfrotable Home</a>
                      <p class="text text_blue service__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p><a class="service__link" href="#"><span>Learn more</span><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8 0L6.59 1.41L12.17 7H0V9H12.17L6.59 14.59L8 16L16 8L8 0Z" fill="#5A98D0"/>
</svg></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="service__container-animation">
                <div class="service__item">
                  <div class="service__preview">
                          <picture><img src="images/s3.png" alt="img" title="img">
                          </picture>
                  </div>
                  <div class="service__content"><a class="service__subtitle" href="#">Build Your Digital Product That Suitable For Your Need</a>
                    <p class="text text_blue service__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p><a class="service__link" href="#"><span>Learn more</span><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8 0L6.59 1.41L12.17 7H0V9H12.17L6.59 14.59L8 16L16 8L8 0Z" fill="#5A98D0"/>
</svg></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="clients">
        <div class="container">
          <div class="row">
            <div class="col col-lg-4">
              <h2 class="title-2 title-2_white clients__title clients__title_center-mobile">Our Beloved Client</h2>
            </div>
            <div class="col col-lg-7 offset-lg-1">
              <p class="text text_white clients__description clients__description_center-mobile">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <div class="col">
              <div class="clients__list">
                <div class="row">
                  <div class="col col_flex">
                    <div class="clients__wrapper">
                      <div class="clients__block"><a class="clients__link" href="#">LOGO CLIENT 1</a></div>
                    </div>
                    <div class="clients__wrapper">
                      <div class="clients__block"><a class="clients__link" href="#">LOGO CLIENT 2</a></div>
                    </div>
                    <div class="clients__wrapper">
                      <div class="clients__block"><a class="clients__link" href="#">LOGO CLIENT 3</a></div>
                    </div>
                    <div class="clients__wrapper">
                      <div class="clients__block"><a class="clients__link" href="#">LOGO CLIENT 4</a></div>
                    </div>
                  </div>
                </div>
                <div class="clients__line"></div>
                <div class="row">
                  <div class="col col_flex">
                    <div class="clients__wrapper">
                      <div class="clients__block"><a class="clients__link" href="#">LOGO CLIENT 5</a></div>
                    </div>
                    <div class="clients__wrapper">
                      <div class="clients__block"><a class="clients__link" href="#">LOGO CLIENT 6</a></div>
                    </div>
                    <div class="clients__wrapper">
                      <div class="clients__block"><a class="clients__link" href="#">LOGO CLIENT 7</a></div>
                    </div>
                    <div class="clients__wrapper clients__wrapper_bg">
                      <div class="clients__block"><a class="clients__link " href="#">More Client</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="footer__content">
            <div class="footer-line-top">
              <div class="container">
                <div class="row">
                  <div class="col col-lg-6">
                    <h2 class="title-2 title-2_white footer-line-top__title footer-line-top__title_center-mobile">Intersted to woek<br>with our team?</h2>
                    <p class="text text_white footer-line-top__description footer-line-top__description_center-mobile">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                  </div>
                  <div class="col col-lg-3 offset-lg-2"><a class="btn btn_center-mobile" href="#">Let’s Talk</a></div>
                </div>
              </div>
            </div>
            <div class="footer__line"></div>
            <div class="footer-line-bottom">
              <div class="container">
                <div class="row">
                  <div class="col col-lg-4">
                    <div class="footer__logo-block"><a class="logo logo_white logo_flex" href="#"><svg class="logo-svg" width="48" height="32" viewBox="0 0 48 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle class="logo-svg__circle-first" cx="16" cy="16" r="15.5" fill="#316099" stroke="#316099"/>
<circle  cx="32" cy="16" r="15" fill="white" stroke="#316099" stroke-width="2"/>
<path d="M39.3 22L34.38 8H30.96L26.06 22H29.04L29.88 19.48H35.46L36.3 22H39.3ZM32.68 11.18L34.6 16.9H30.76L32.68 11.18Z" fill="#316099"/>
<path d="M39.3 22V23H40.7114L40.2434 21.6684L39.3 22ZM34.38 8L35.3234 7.66845L35.0885 7H34.38V8ZM30.96 8V7H30.2505L30.0161 7.66965L30.96 8ZM26.06 22L25.1161 21.6696L24.6505 23H26.06V22ZM29.04 22V23H29.7608L29.9887 22.3162L29.04 22ZM29.88 19.48V18.48H29.1592L28.9313 19.1638L29.88 19.48ZM35.46 19.48L36.4087 19.1638L36.1808 18.48H35.46V19.48ZM36.3 22L35.3513 22.3162L35.5792 23H36.3V22ZM32.68 11.18L33.628 10.8618L32.68 8.03748L31.732 10.8618L32.68 11.18ZM34.6 16.9V17.9H35.9905L35.548 16.5818L34.6 16.9ZM30.76 16.9L29.812 16.5818L29.3695 17.9H30.76V16.9ZM40.2434 21.6684L35.3234 7.66845L33.4366 8.33155L38.3566 22.3316L40.2434 21.6684ZM34.38 7H30.96V9H34.38V7ZM30.0161 7.66965L25.1161 21.6696L27.0039 22.3304L31.9039 8.33035L30.0161 7.66965ZM26.06 23H29.04V21H26.06V23ZM29.9887 22.3162L30.8287 19.7962L28.9313 19.1638L28.0913 21.6838L29.9887 22.3162ZM29.88 20.48H35.46V18.48H29.88V20.48ZM34.5113 19.7962L35.3513 22.3162L37.2487 21.6838L36.4087 19.1638L34.5113 19.7962ZM36.3 23H39.3V21H36.3V23ZM31.732 11.4982L33.652 17.2182L35.548 16.5818L33.628 10.8618L31.732 11.4982ZM34.6 15.9H30.76V17.9H34.6V15.9ZM31.708 17.2182L33.628 11.4982L31.732 10.8618L29.812 16.5818L31.708 17.2182Z" fill="#316099"/>
</svg><span class="logo__title">Afrianska</span></a></div>
                    <div class="footer__info"><span>А.</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></div>
                    <div class="footer__info"><span>Т.</span><a class="footer__link" href="tel:+6281273134321">+62-812-7313-4321</a></div>
                    <div class="footer__info"><span>Е.</span><a class="footer__link" href="mailto:hello.afrian@gmail.com">hello.afrian@gmail.com</a></div>
                  </div>
                  <div class="col col-lg-3 offset-lg-1"><span class="title-min title-min_white">About US</span>
                    <div class="d-flex flex-column align-items-start"><a class="footer__link footer__nav-item" href="#">About</a><a class="footer__link footer__nav-item" href="#">What We Do</a><a class="footer__link footer__nav-item" href="#">Project</a><a class="footer__link footer__nav-item" href="#">How It Work With Us</a>
                    </div>
                  </div>
                  <div class="col col-lg-3"><span class="title-min title-min_white">Follow US</span>
                    <div class="d-flex flex-column align-items-start"><a class="footer__link footer__nav-item" href="#">Instagram</a><a class="footer__link footer__nav-item" href="#">Facebook</a><a class="footer__link footer__nav-item" href="#">LinkedIn</a><a class="footer__link footer__nav-item" href="#">Youtube</a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col"><span class="copyright">2019 © Afrianska. All rights reserved.</span></div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </section>
    </div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center">
        <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
          <g transform="translate(-1035.793 -4349.188)">
            <g transform="translate(1053.891 4252.049) rotate(90)">
              <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>
